body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 10px;
}

#status-message {
    text-align: center;
    margin-bottom: 15px;
    padding: 10px; /* Added padding for better coordinate display */
    border-radius: 5px;
    background-color: #e0f2f1; /* Light background for visibility */
}

#findSpotBtn {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

#findSpotBtn:hover {
    background-color: #45a049;
}

/* Ensure the map has height to be visible */
#map {
    height: 400px; 
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 480px) {
    #map {
        height: 500px; 
    }
}
